.row-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: solid;
}

.row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid;
}

.header {
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
    height: 100px;
    width: 100%;
    border: solid;
    background-color: rgb(178, 11, 11);
    color: white;
}

.body {
    margin: auto;
    height: 900px;
    width: 80%;
    border: solid;
}

.card-header {
    height: 100px;
    background-color: rgb(7, 7, 238);
    color: white;
}

.card-1 {
    position: relative;
    border-radius: 20px;
    box-shadow: 10px 10px;
    border: solid;
    height: 350px;
    width: 300px;
    background-color: whitesmoke;
}

.card-2 {
    position: relative;
    border-radius: 25px;
    box-shadow: 10px 10px;
    border: solid;
}

.card-3 {
    position: relative;
    border-radius: 25px;
    box-shadow: 10px 10px;
    border: solid;
}

.card-4 {
    position: relative;
    border-radius: 25px;
    box-shadow: 10px 10px;
    border: solid;
}

.card-5 {
    position: relative;
    border-radius: 25px;
    box-shadow: 10px 10px;
    border: solid;
}

.card-layout {
    position: relative;
    top: 50px;
    background-color: rgb(229, 220, 220);
}